body {
    background-color: #0F224A;
}

h1,
h2 {
    text-align: center;
    color: #FFCB08;
}

.detalles h2 {
    text-align: left;
    color: #FFCB08;
}

.detalles {
    color: white;
}

nav div a img {
    height: 5rem;
}

.imgCard {
    width: 50%;
}

form .btn {
    color: #FFCB08;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #FFCB08;
    margin-left: 1rem;
}

form .btn:hover {
    background-color: #FFCB08;
    color: #0f224a;
}

.card {
    background-color: #0f224a;
    color: white;
    border-radius: 12px;
}

.cardPoke:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);

}

.cardContainer, .contenedorDetalles {
    margin: 0 auto;
}

.detalles p {
    border: 1px solid yellow;
    padding: 1em;
}

.imgDetalle {
    height: 200px;
}

.modal-title {
    color:#0F224A;
}

.busquedaVacia {
    list-style: none;
}

li {
    list-style-position : inside;
    padding-left: 2rem;
}

.modal-content {
    text-align: start;
}

.modal-content h3 {
    padding-top: 2rem;
    padding-left: 2rem;

}